__pycache__/
*.py[cod]

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
static/converted/*
static/uploads/*
!static/converted/.gitkeep
!static/uploads/.gitkeep
bin/
lib/
share/
.Python
pyvenv.cfg

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
